@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

html,
body {
  scroll-behavior: smooth;
}
:root {
  --darkpink:#fe2246;
  --lightpink:#fc0f88;
  --navblack:#1a1a1a
  --gray:#6a6a6a;
  --darkbluee:#121855,
  --gradient:(#fe2246 0%, #fc0f88 70%)
  --white:#fff;
  --black:#000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#active__navItem {
  border-bottom: 2px solid var(--lightpink);
  color: var(--lightpink);
}

.navigation {
  background-color: transparent;
  transition: 0.6s;
  color: var(--navblack);
  padding: 20px 70px;
  justify-content: space-between;
}
nav.sticky {
  /* padding: 5px 10px; */
  background-color: var(--white);
  border-bottom: 1px solid (0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px 2px rgb(172, 172, 172);
  color: var(--navblack);
  animation: scroll 0.6s 1;
}
@keyframes scroll {
  0%{transform:translateY(-100%);}
  100%{transform: translateY(0%);}
}
nav.sticky .navbaar {
  color: var(--navblack);
  transition: 0.3s;
  padding: 0 20px;
}
nav.sticky .navbaar:hover {
  color: var(--darkpink);
}
#brand {
  color: var(--lightpink);
}

.navbaar {
  color: var(--navblack);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
  text-decoration: none;
  padding: 0 30px;
  line-height: 30px;
  margin: 0 5px;
}
.navbaar:hover {
  color: var(--darkpink);
  font-weight: 500;
}


/* ---------------------------for mobile view----------------------------------------- */
#mobile-header-top {
  visibility: hidden;
}

body.offcanvas-active {
  overflow: hidden;
}

.offcanvas-header {
  display: none;
}

.screen-overlay {
  width: 0%;
  height: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition: opacity 0.2s linear, visibility 0.1s, width 1s ease-in;
}
.screen-overlay.show {
  transition: opacity 0.5s ease, width 0s;
  opacity: 1;
  width: 100%;
  visibility: visible;
}

@media all and (max-width: 992px) {
  .offcanvas-header {
    display: block;
  }
  #brand {
    display: none;
  }
  #mobile-header-top {
    visibility: visible;
    background-color: var(--white);
    border-bottom: 1px solid #ececec;
    color: var(--gray);
    position: fixed;
    height: 70px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .mobile-offcanvas {
    visibility: hidden;
    transform: translateX(-100%);
    border-radius: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1200;
    width: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
    text-align: left;
    background-color: var(--white);
  
  }
  .navigation {
    padding: 20px 10px;
  }
  .navbaar {
    color: var(--gray);
    padding: 15px 5px;
    font-weight: bolder;
    line-height: 5px;
    margin-bottom: 12px;
  }
  .menu_button {
    background-color: transparent;
    border: none;
    outline: none;
  }
  .menu_close_button {
    background-color: transparent;
    padding: 20px;
    border: none;
    outline: none;
  }
  .menu_button:focus {
    outline: none;
  }
  .menu_close_button:focus {
    outline: none;
  }

  .mobile-offcanvas.show {
    visibility: visible;
    transform: translateX(0);
  }
}
/* ------ */

/* carousel */

.carousel-inner img {
  width: 100%;
  height: 100%;

}
.carousel-inner .carousel-item {
  height: 48vw;
  background-size: cover;
  object-fit: contain;
}
.carousel-indicators > li{
    border-radius: 100%;
    height: 12px;
    width: 12px;
    border: 1px solid #111111;
    background-color: var(--white);
}
.carousel-indicators .active{
  background-color: var(--black);
}
.carousel-caption{
  height: 420px;
}
.carousel-caption h2 {
  margin-top: 0;
  font-size: 4.5vw;
  font-weight: 700;
  background-image: linear-gradient(to left, #fe2246 0%, #fc0f88 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carousel-caption h3 {
  color: #1a1a1a;
  font-size: 20px;
  padding: 5px 75px;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.carousel-caption a {
  border: none;
  padding: 10px 50px;
  display: inline-block;
  margin-top: 15px;
  color: var(--white);
  text-transform: capitalize;
  border-radius: 15px;
  background-image: linear-gradient(to left, #fe2246 50%, #fc0f88 50% );
  text-decoration: none;
  transition: .2s;
  background-size: 200%;
}
.carousel-caption a:hover {
	background-position: right;
}
/* media queries for carousel and navbar */
@media screen and (max-width: 1024px){
  .carousel-inner .carousel-item{
    height: 80vw;
  }
@media screen and (max-width: 480px){
    .carousel-inner .carousel-item{
    height: 120vw;
  }
  .carousel-caption{
    margin-top: -10px;
  height: auto;
  width: 90%;
  margin-left: -35px;
  margin-bottom: 30px;
  padding:  20px 0 5px 0;
  background-color: rgba(251,251,251,0.7);
  align-items: center;
}

.carousel-control-prev{
  display: none;
}

.carousel-control-next{
  display: none;
}
  
  #demo {
    margin-top: 18vw;
  }

  .carousel-caption h2{
    font-size: 27px;
  }
  .carousel-caption h3{
    font-size: 15px;
    padding: 0;
    letter-spacing: 0;
    word-spacing: 0;
  }
  /* .carousel-caption a {
    border: 1px soild red;
    margin: 10px 0 -1000px 0;
  } */
}

@media screen and (max-width: 768px){
  #demo {
    margin-top: 10vw;
  }
}

}

/* media queries for carousel and navbar */


 /* TODO: VIDEO SECTION STARTS HERE */
.video__section{
  height: 100vh;
  background-color: #fbf5f6;
}
.video__title {
  text-align: center;
  padding: 70px;
}
.video__title h1 {
  color: #121855;
  font-size: 3.3vw;
  font-weight: 900;
}
.home__page__products {
  margin: 100px auto;
}
.home__page__products__info{
  align-items: center;
  padding: 0 10px;
  margin: 100px 0;
}
.home__page__products__info h1 {
  color: #121855;
  font-weight: 900;
}
.home__page__products__info p {
  font-size: 1.2rem;
}
.home__page__products__info a {
  background-image: linear-gradient(to left, #fe2246 0%, #fc0f88 70%);
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}
.home__page__products__info__img {
  border-radius: 15px;
}
.home__page__products__info__img2 {
  height: 550px;
  border-radius: 15px;
}

@media screen and (max-width:480px){
  .home__page__products {
  margin: 30px auto;
}
  .home__page__products__info{
  align-items: center;
  padding: 0 10px;
  margin:  0 0 20px 0;
}
  .home__page__products__info__img2 {
  height: auto;
  border-radius: 15px;
  margin-bottom: 20px;
}
.home__page__products__info h1 {
  font-size: 24px;
}
.home__page__products__info p {
  font-size: 0.8rem;
}
.home__page__products__info a {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
}

/* boexd block */
.boxed__block {
  height: 100%;
  margin: 10px 0 50px 0;
}
.boxed__block__title{
  color: #121855;
  font-weight: 900;
  margin: 0 0 40px 0;
}



.boxed_block_items{
  border: 1px solid #cecece;
  margin-top: -28px;
  border-radius: 10px;
  width: 100%;
}
.boxed_block_heading h4 {
    color: var(--darkpink);
  display: inline-block;
  font-size: 20px;
  background-color: #ffeef6;
  padding: 10px 50px;
  border-radius: 20px;
}

.boxed_block_items li{

   text-decoration: none;
  list-style-type: none;
   margin: 50px 0;
}
#side__line {
   border-right: 1px solid #cecece;

}
.boxed__block__items__content span {
  color: #121855;
  font-weight: 900;
  font-size: 18px;
}
.boxed__block__items__content h2 {
  color: var(--darkpink);
  font-size: 4vw;
  margin: 20px 0;
}
.boxed__block__items__content p {
  font-size: 18px;
  color: var(--gray);
}





/* TODO: TESTMIONAL */




/*  */





.about__intro{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
/* section two practicle csss---------------------------------------------------------- */
 canvas {
        display: block;
        vertical-align: bottom;
      } /* ---- particles.js container ---- */
      #particles-js {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #111111;
        background-image: url("");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        z-index: -1;
      
      }
/* section two practicle csss---------------------------------------------------------- */





.about_into__container {
  padding: 100px 0;
}
.about__into__text_container {
  align-items: center;
  padding: 40px 10px;
}
.about__intro__text__container__inner{
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.about__intro__text__container__inner span {
  height: 2px;
  width: 40px;
  background-color: var(--yellow);
}
.about__intro__text__container__inner p {
  margin: 3px 0 0 15px;
}
.about__into__text_container h2 {
  color: var(--white);
  font-weight: 600;
  font-size: 2.5vw;
  letter-spacing: 2px;
}

.about__intro__text{
  color: gray;
  padding: 0 30px 50px 0;
  letter-spacing: 1px;
  font-size: 1.2vw;
}
.about__intro__btn > a {
  text-transform: uppercase;
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  outline: none;
  padding: 15px 40px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.4s linear;
  position: relative;
}
.about__intro__btn > a:hover {
  color: var(--black); 
}
.about__intro__btn > a::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
  transform: scaleX(0);
}
.about__intro__btn > a:hover::before{
  transform: scaleX(1);
}
.about__intro__image {
  height: 430px;
}

@media screen and (max-width: 768px){
  .about__intro__image{
    width: auto;
  }
  .about__into__text_container h2{
    font-size: 32px;
  }
  .about__intro__text{
    font-size: 18px;
  }
}
@media screen and (max-width: 1024px){
  #particles-js{
  height: 110%;
}
  .about__intro__image{
    width: 700px;
    margin-bottom: 20px;
  }
  .about__into__text_container h2{
    font-size: 35px;
  }
  .about__intro__text{
    font-size: 20px;
  }
}

@media screen and (max-width: 480px){
    .about_into__container {
  padding: 10px 5px;
}
#particles-js{
  height: 110%;
}
.about__into__text_container h2 {
  color: var(--white);
  font-weight: 600;
  font-size: 21px;
  letter-spacing: 2px;
}
.about__intro__text{
  padding: 0 0 22px 0;
  font-size: 14px;
  font-weight: 300;
  word-spacing: 2px;
  color: #ececec;
}
.about__intro__btn > a::before{
 width: 0; 
}
.about__intro__image {
  height: auto;
  width: fit-content;
}
}
